{% extends 'base.html' %}
{% block content %}


<div class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">{{student.full_name}}'s Payment for {{month}}</h4>
                        </div>

                    </div>
                    <div class="card-body">

                        <form  method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                {{form.as_p}}
<!--                                <label for="{{id_for_label_name}}">Group name</label>-->
<!--                                {{form.name}}-->
<!--                                <label for="{{id_for_label_course}}">Course name</label>-->
<!--                                {{form.course}}-->
<!--                                <label for="{{id_for_label_teacher}}">Teacher</label>-->
<!--                                {{form.teacher}}-->
<!--                                <label for="{{id_for_label_continuity}}">Continuity time</label>-->
<!--                                {{form.continuity}}-->
<!--                                <label for="{{id_for_label_amount}}">Amount price</label>-->
<!--                                {{form.amount}}-->
<!--                                 <label for="{{id_for_label_room}}">Room</label>-->
<!--                                {{form.room}}-->
<!--                                 <label for="{{id_for_label_room_time}}">Time</label>-->
<!--                                {{form.room_time}}-->

                            </div>

                            <button type="submit" class="btn btn-primary mr-2">Submit</button>
                             <a href="{% url 'students' %}" class="btn bg-danger">Cansel</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
